<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adicione sua receita</title>
    <link rel="stylesheet" href="/css/container-main.css">
    <link rel="stylesheet" href="/css/header-main.css">
    <link rel="stylesheet" href="/css/form-container.css">
    <link rel="stylesheet" href="/css/section-bar.css">
    <link rel="stylesheet" href="/css/index/btns.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body class="container-main">
    <%- include("parts/header-pages", {subTitle:"Edite ou Melhore suas Receitas"}) %> 
    <main class="form-container">
              
        <form action="/editCreate.html/<%= objMine.id %> " id="form-create" method="post">
            <h1>Receita</h1>
            <fieldset class="box-field">
                <legend>nova foto de capa</legend>
                <input class="input-name" id="capa" name="capa" autocomplete="off" type="text" placeholder="https://" value='<%= objMine.capa %>' >
            </fieldset>
            <fieldset class="box-field">
                <legend>novo nome da receita</legend>
                <input class="input-name" name="title" id="title" autocomplete="off" value='<%= objMine.title %>' type="text">
            </fieldset>
            <fieldset class="box-field">
                <legend>novos ingredientes</legend>
                <select name="ingredients" id="ingredients">
                    <%- include("parts/options")  %> 
                </select>
                <a class="btn-add" onclick="addIngredient()"><img class="imgIcon" src="/images/icones/add.png" alt="" srcset=""></a>
            </fieldset>
                <div id="camp-Select-Ingredients">

                </div>
            <div class="boxInput-preparo">
                <legend>novo modo de preparo</legend>
                <textarea class="input-preparo" type="text" name="modo" id="modo" rows="10" cols="30"   placeholder="modo de preparo"><%= objMine.modo %></textarea>
            </div>
            <input name="ingredientsOn" id="ingredientsOn" autocomplete="off" type="text" value=<%= objMine.ingredients %> />
            <div class="container-btns">
                <button onclick="saveIngredients()"  class="btn-submit" type="submit" form="form-create">Editar</button>
                <a class="btn-cancel" href="/"> cancel</a>
            </div>
        </form>
    </main>
    <script src="/scripts/create.js"></script>
</body>
</html>